<template>
  <div class="card">
    <div class="card__body">
      <slot name="body">
      </slot>
    </div>
    <div v-if="$slots.footer" class="card__footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<style scoped lang="scss">
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #FFFFFF;

  &__body {
    padding: var(--space-md);
    overflow-y: auto;
  }

  &__footer {
    border-top: 1px solid var(--gray-50);
    padding: var(--space-md);
    background-color: #FFFFFF;
  }
}
</style>
