<script setup lang="ts">
import {computed, ref, watchEffect} from 'vue'

const props = defineProps({
  min: {
    type: Number,
    default: 0,
  },
  max: {
    type: Number,
    default: 10,
  }
})

const emit = defineEmits(['selected']);

const selectedNumber = ref();

const numbers = computed(() => {
  if (props.min >= 0 && props.max - props.min >= 1 && props.max < 1000) {
    const nextNumbers = [];
    for (let i = props.min; i <= props.max; i++) {
      nextNumbers.push(i);
    }
    return nextNumbers;
  }
  return [];
})

watchEffect(() => {
  if (!numbers.value.includes(selectedNumber.value)) {
    selectedNumber.value = undefined;
  }
  emit('selected', selectedNumber.value);
})
</script>

<template>
  <div class="number-selector">
    <div class="number-selector__message">
      <slot name="message">
        <div>Select:</div>
      </slot>
    </div>
    <div v-if="numbers.length > 0" class="number-selector__items">
      <label class="number-selector__item" v-for="item in numbers" :key="item">
        <input class="number-selector__input" v-model="selectedNumber" type="radio" name="selected-number"
               :value="item">
        <div class="number-selector__content">{{ item }}</div>
      </label>
    </div>
    <div v-else>
      <div class="number-selector__error-feedback">
        <slot name="error-feedback">
          <p>In order to render the different options please select a correct interval of numbers:</p>
          <ul>
            <li>
              <strong>Min</strong> must be greater than zero and <strong>max</strong> greater than <strong>min</strong>
            </li>
            <li>
              There should be at least 2 options to choose between <strong>min</strong> and <strong>max</strong>
            </li>
            <li>
              Numbers must be contained in the range 0 - 999
            </li>
          </ul>
        </slot>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.number-selector {

  --primary-color: var(--ns-primary-color, rgb(0, 153, 153));
  --primary-color-subtle: var(--ns-primary-color-subtle, rgba(0, 153, 153, .25));
  --text-color: var(--ns-text-color, rgb(74, 74, 74));
  --text-color-checked: var(--ns-text-color-checked, rgb(255, 255, 255));
  --text-color-light: var(--ns-text-color-light, rgb(100, 100, 100));

  &__message {
    margin-bottom: 16px;
  }

  &__item {
    cursor: pointer;
    text-align: center;
    position: relative;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__content {
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s background-color ease-out;
    font-weight: bold;
    user-select: none;

    &:hover {
      background-color: var(--primary-color-subtle)
    }
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    &:checked {
      & ~ .number-selector__content {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: var(--text-color-checked);
      }
    }
  }

  &__error-feedback {
    color: var(--text-color-light);
    border: 1px dashed var(--text-color-light);
    border-radius: 8px;
    padding: 16px;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
</style>
