<script setup lang="ts">
import TheNumberSelectorView from '@/views/TheNumberSelectorView.vue'
</script>
 
<template>
  <main class="app">
    <the-number-selector-view></the-number-selector-view>
  </main>
</template>
