:root {
  --gray-50: #c2c2c2;
  --space-md: 16px;
  font-size: 100%;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(240, 248, 255);
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin-block-start: 0;
}