<script setup lang="ts">
import {ref} from 'vue';
import NumberSelector from '@/components/NumberSelector.vue'
import Card from '@/components/Card.vue'

let selectedNumber = ref()

const handleSelected = (newValue: number) => {
  selectedNumber.value = newValue;
}
</script>

<template>
  <section class="number-selector-view">
    <card class="number-selector-view__content">
      <template #body>
        <number-selector :min="5" :max="15" @selected="handleSelected">
          <template #message>
            Please select a number!
          </template>
        </number-selector>
      </template>
      <template #footer>
        Current selection: {{ !isNaN(selectedNumber) ? selectedNumber : '---' }}
      </template>
    </card>
  </section>
</template>

<style scoped lang="scss">
.number-selector-view {
  display: flex;
  justify-content: center;
  padding: 24px;

  &__content {
    max-height: calc(100vh - 48px)
  }
}
</style>
